# Calculates the t_span sum of the all sectors observed

In [1]:
import pandas as pd

In [14]:
file = pd.read_csv('D:/UFRN/NAOS/BStars_2024att/Puls/dat/get_tspan.txt', sep=' ')
group = round(file.groupby('id').sum()['tspan_eff'], 0)

group.to_csv('D:/UFRN/NAOS/BStars_2024att/Puls/Total_tspan.csv', sep=';')

## Step by step code lines

In [2]:
file = pd.read_csv('D:/UFRN/NAOS/BStars_2024att/Rot/dat/get_tspan.txt', sep=' ')
file

            id     nobs   dt_main      tspan  tspan_eff
0    110798652  16343.0  0.001343  24.454224  21.944946
1    110798652  16818.0  0.001465  24.962402  24.635742
2    110798652  16051.0  0.001465  24.360840  23.512207
3    118269334  12583.0  0.001343  22.994873  16.896118
4    118269334  18771.0  0.001465  27.717529  27.496582
..         ...      ...       ...        ...        ...
237    4491131  12952.0  0.001465  23.701660  18.972656
238    4491131  14483.0  0.001465  23.631348  21.215332
239    4491131  14715.0  0.001465  23.408691  21.555176
240   58105597  12899.0  0.001343  23.308105  17.320435
241   58105597  17991.0  0.001465  28.759521  26.354004

[242 rows x 5 columns]

In [12]:
group = round(file.groupby('id').sum()['tspan_eff'], 0)
group

id
4491131      154.0
58105597      44.0
110798652     70.0
118269334     44.0
165547989     61.0
198240464    621.0
220323146     45.0
229452839    679.0
232633722    479.0
233539736    586.0
236872887    322.0
258109545     56.0
258461221    651.0
268971806    153.0
269118344     45.0
276549422     19.0
279511712    720.0
322312868     85.0
358467049    379.0
393852409     47.0
394020645     83.0
407615454     49.0
Name: tspan_eff, dtype: float64

In [13]:
group.to_csv('D:/UFRN/NAOS/BStars_2024att/Rot/Total_tspan.csv', sep=';')